.home-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    min-width: 100vw;
}

.home-sub-top-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.app-title{
    font-size: 30px;
    margin: 0px;
    padding: 15px;
    /* font-family: "Roboto"; */
    font-family: 'Inter';
    /* min-width: 100%; */
    text-align: center;
    /* align-self: center; */
    box-shadow: 0px 3px 7px 3px #e2e8f0;
}
.home-sub-left-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* background-color: orange; */
}
.get-batteryBy-id-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    padding-top: 10%;
}
.home-sub-left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Inter";
}
